<!-- FILL ME IN WITH CODE FOR YOUR PAGE LAYOUT -->
<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dr. Ghassemi's personal page</title>
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/main.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='main/images/favicon.ico') }}">
  {% block extracss %}{% endblock %}
  <script src="{{ url_for('static', filename='main/js/main.js') }}" defer></script>
  {% block extrajs %}{% endblock %}
</head>

<body>
    <article>
    <!-- The header  -->
    <header>
        <p> The future home of an amazing header </p>
    </header>

    <!-- The navigation bar -->
    <nav>
      <div>
      {% if user == 'Unknown' %}  
      <p>CSE 477 - Homework 3</p>
      {% else %}
      <p>Logged in as {{user}}</p>
      {% endif %}
      <br>
      

      <a href="/home">Home</a>
      <a href="/resume">Resume</a>
      <a href="/chat">Chat</a>
      <a href="/login">Login</a>
      <a href="/logout">Logout</a>
    </nav>

    <!-- The main content  -->
    <main>
      {% block maincontent %}{% endblock %}
    </main>

    <!-- The footer of the file -->
    <footer>
        <p>© 2022 Mohammad M. Ghassemi</p>
    </footer>

    </article>
  
</body>

</html>















